<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>${site.siteName!}</title>
    <meta name="description" content="${site.description!}">
    <link rel="stylesheet" href="${resPath}/blog/css/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
<header class="site-header">
    <div class="wrapper">
       <nav class="site-nav">
                <div class="trigger">
                    <a  class="page-link"  href="${frontPath}/${site.siteId}/">首页</a>
                    <#cms_category_list  siteId="${site.siteId}" categoryId="0" isNav="0"   var="bean">
                    <a  class="page-link"  href="${bean.url!}">${bean.categoryName!}</a>
                    </#cms_category_list>
                </div>
        </nav>
    </div>

</header>

<div class="page-content">
    <div class="wrapper">
        <div class="header-bar">
            <h1>Westboy</h1>
            <h2>designer | developer </h2>
            <br/>
            <hr>
            <br/>
        </div>

        <ul class="post-list">

            <#cms_content_list  siteId="${site.siteId}" categoryId="45" target="1" orderBy="2" isHot="0" hasChild="1" size="20"   titleLen="15"   var="content">
                <li>
                    <h2><a class="post-title" href="${content.url!}">${content.title!}</a></h2>
                    <p class="post-meta">发布于 ${content.inputdate!,dateFormat="yyyy年MM月dd日"}</p></p>
                    <p class="post-description">
                        ${content.description!}
                        <a href="${content.url!}"> More <i class="fa fa-arrow-right"></i></a>
                    </p>
                    <br/>
                    <hr/>
                </li>
           </#cms_content_list>


        </ul>
    </div>
</div>

<footer class="site-footer">
    <div class="wrapper">
        <p>This site was built using <a href="https://gitee.com/westboy/CicadasCMS" target="_blank">CicadasCMS</a> Photos from <a href="https://portal.qiniu.com/signup?code=3lb7ah8vdj0ia" target="_blank">七牛云</a>  &#169; 2018</p>
    </div>
</footer>

</body>

</html>
